/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.forget-form{
	background: #fff;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}