.error {
	color:#f70505;
}
.display-block{
	display:block;
}
.img-circle {
    border-radius: 50%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.text-center {
    text-align: center!important;
}
.col-lg-3 {
    width: 25%;
}
.thumbnail {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.thumbnail {
    display: block;
    padding: 3px;
    margin-bottom: 20px;
    line-height: 1.5384616;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: border 0.2s ease-in-out;
}
.thumb-rounded, .thumb-rounded img, .thumb-rounded .caption-overflow {
    border-radius: 50%;
}
.thumb-rounded {
    width: 60%;
    margin: 20px auto 0 auto;
}
.thumb {
    position: relative;
    display: block;
}
.caption-overflow {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.15s ease-in-out;
}
.caption-overflow span {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    width: 100%;
    text-align: center;
}
.thumb img:not(.media-preview) {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.thumb-rounded, .thumb-rounded img, .thumb-rounded .caption-overflow {
    border-radius: 50%;
}
img {
    vertical-align: middle;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;
}
.thumb:hover > .caption-overflow {
    background-color: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
}
/*.thumbnail .caption {
    padding: 17px;
    padding-top: 20px;
}
.thumbnail .caption {
    color: #333333;
}*/

.panel {
    margin-bottom: 20px;
    border-color: #ddd;
    color: #333333;
}
.panel-heading {
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-body {
    position: relative;
}
.media, .media-body {
    overflow: visible;
}
.media {
    position: relative;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-flat > .panel-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}
.panel-heading {
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-heading {
    padding: 15px 20px;
    border-bottom: 1px solid transparent;
}
body {
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5384616;
}
.panel-flat > .panel-heading + .panel-body {
    padding-top: 0;
}

.panel-body {
    position: relative;
    padding: 20px;
}
.media-left, .media > .pull-left {
    padding-right: 20px;
}
.media-left, .media-right, .media-body {
    position: relative;
}
.media .profile-thumb img {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.img-circle {
    border-radius: 50%;
}
img {
    vertical-align: middle;
}
@media (min-width: 1025px)
.col-md-6 {
    width: 50%;
}
title {
    margin-top: 2px;
    margin-bottom: 2px;
}
h6.panel-title, .h6.panel-title {
    font-size: 15px;
}
.panel-title {
    position: relative;
    
}
.heading-elements {
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 20px;
    height: 36px;
    margin-top: -18px;
}
.help-block{
	color:#FE0501;
}
.text-right {
    text-align: right;
}
/*.ui-autocomplete-input,.ui-menu,.ui-menu-item{
    z-index:1500;
}*/
.ui-autocomplete{
     z-index:2000;
}
.form-control:disabled, .form-control[readonly] {
  cursor: not-allowed;
}
.text-semibold {
    font-weight: 500;
}

.btn-float i {
    display: block;
    margin: 0;
    top: 0;
}
legend {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 19.5px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}